.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8bf3ef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .generate-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .generate-btn:hover {
    background-color: #b30048;
  }
  
  h3 {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
  }
  
  img {
    margin-top: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 150px;
    height: 150px;
  }
  